.section
  %h4
    %a{:href => R(CVController)} Your CVs
  - user.cvs.each do |cv|
    = part(:cv, CVController, :cv => cv)
.section.cv-upload
  %form{:method => :POST, :action => R(CVController, :create), :enctype => 'multipart/form-data'}
    %fieldset
      %legend Upload CV
      .pair
        %label{:for => :title} Title:
        %input{:type => :text, :name => :title, :id => :title}
      .pair
        %label{:for => :file} File:
        %input{:type => :file, :name => :file, :id => :file}
      = part :buttons, MainController, :value => 'Upload CV'
