.submenu
  %a{:href => R(UserController, :profile)} Profile
  %a{:href => R(CVController)} CVs
  %a{:href => R(ApplicationController)} Applications
  %a{:href => R(CompanyController, :edit)} Company
  %a{:href => R(JobController, :manage)} Jobs
