.login
  %form{:method => :POST}
    %fieldset
      %legend Login
      .pair
        %label{:for => :email} E-mail:
        %input{:type => :text, :name => :email, :value => @email}
      .pair
        %label{:for => :password} Password:
        %input{:type => :password, :name => :password, :value => @password}
      .buttons
        %input{:type => :reset, :class => :reset}
        %input{:type => :submit, :class => :submit, :value => 'Login'}
