.login
  %form{:method => :POST}
    %fieldset
      %legend Login
      .pair
        %label{:for => :email} E-mail:
        %input{:type => :text, :name => :email, :value => @email}
      .pair
        %label{:for => :password} Password:
        %input{:type => :password, :name => :password, :value => @password}
      = JobGet::Main.render_partial(:buttons, :value => 'Login')
  = JobGet::Users.a("Don't have an account yet?", :join)
  = JobGet::Users.a("Forgot your password?", :forgot)
