.login
  %form{:method => :POST}
    %fieldset
      %legend Login
      .pair
        %label{:for => :email} E-mail:
        %input{:type => :text, :name => :email, :value => @email}
      .pair
        %label{:for => :password} Password:
        %input{:type => :password, :name => :password, :value => @password}
      = part :buttons, MainController, :value => 'Login'
  %a{:href => R(UserController, :join)} Don't have an account yet?
  %a{:href => R(UserController, :forgot)} Forgot your password?
