%form{:action => Rs(:submit_resume, @job.id), :method => :POST}
  %fielset
    %legend
      %h2
        = "Apply for #{@job.title}"
    .pair
      %label{:for => :resume} Select the Resume to use:
      %select{:name => :resume, :id => :resume}
        - user.resumes.each do |resume|
          %option{:value => resume.id}= resume.title
    %input{:type => :submit, :class => :submit, :value => 'Submit Application'}
