%form{:action => Rs(:submit_cv, @job.id), :method => :POST}
  %fielset
    %legend
      %h2
        = "Apply for #{@job.title}"
    .pair
      %label{:for => :cv} Select the CV to use:
      %select{:name => :cv, :id => :cv}
        - user.cvs.each do |cv|
          %option{:value => cv.id}= cv.title
    %input{:type => :submit, :class => :submit, :value => 'Submit Application'}
