%a{:href => @job.to(:edit)} Edit
%a{:href => @job.to(:delete)} Delete
- if @job.public
  %a{:href => @job.to(:state, :public => false)} Make Private
- else
  %a{:href => @job.to(:state, :public => true)} Make Public
- if @job.open
  %a{:href => @job.to(:state, :open => false)} Close for applications
- else
  %a{:href => @job.to(:state, :open => true)} Open for applications

