%h2 Statistics

= pager_navigation

- if @pager.empty?
  %p No Statistics collected yet.
- @pager.each do |stat|
  - if view = stat.job_view_stat
    = part(:view, StatController, :stat => stat, :view => view)
  - if search = stat.search_stat
    = part(:search, StatController, :stat => stat, :search => search)

= pager_navigation
