%h3
  = Searches.a(@title, :only => @category, :q => @terms)
%dl
  %dt Time:
  %dd= @stat.created_at.utc
  %dt IP:
  %dd= @stat.ip
  %dt Referrer:
  %dd
    %a{:href => @stat.referrer}= @stat.referrer
