%h3
  %a{:href => R(SearchController, :only => search.category, :q => search.terms)}
    = "Search for %p in %p" % [search.terms, search.category]
%dl
  %dt Time:
  %dd= stat.created_at.utc
  %dt IP:
  %dd= stat.ip
  %dt Referrer:
  %dd
    %a{:href => stat.referrer}= stat.referrer
