= part(:submenu, UserController)

%h2 Your Resumes

.resumes
  - @resumes.each do |resume|
    .resume
      %dl
        %dt Title:
        %dd
          = resume.href(resume.title, :read)
        %dt Preview:
        %dd= resume.preview
        %dt Last Updated:
        %dd= resume.updated_formatted
  - if @resumes.count == 0
    You don't have any Resumes yet, get started by uploading one in the form in the sidebar.
