.section
  %h4
    = a('Your Resumes', :/)
  - user.resumes.each do |resume|
    = render_partial(:resume, :resume => resume)
.section.resume-upload
  %form{:method => :POST, :action => r(:create), :enctype => 'multipart/form-data'}
    %fieldset
      %legend Upload Resume
      .pair
        %label{:for => :title} Title:
        %input{:type => :text, :name => :title, :id => :title}
      .pair
        %label{:for => :file} File:
        %input{:type => :file, :name => :file, :id => :file}
      = JobGet::Main.render_partial(:buttons, :value => 'Upload Resume')
      %p
        Accepted formats are:
        %ul
          %li Microsoft Word document
          %li OpenOffice.org Writer
          %li PDF (Portable Document Format)
          %li Plain text
          %li HTML
