- if @categories
  .section
    %h4 Refine Search
    - @categories.each do |category|
      - if @only == category
        = "Search by #{category}"
      - else
        = JobGet::Searches.a("Search by #{category}", :/, :q => @q, :only => category)
      %br/
